* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-size: 16px;
}

.container {
  width: 800px;
  margin: 100px auto;
  position: relative;
}

.image {
  width: 200px;
  transform: scale(1.5);
  border-radius: 10px;
  margin-left: -10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.icon-box {
  width: 40px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  position: absolute;
  border: none;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.icon-box:hover {
  background-image: linear-gradient(
    to right,
    rgb(128, 0, 128, 0.8),
    rgb(255, 215, 0, 0.7)
  );
}

.icon-box:hover .icon {
  stroke: #fff;
}

.icon-box-left {
  top: 50%;
  left: -40px;
  transform: translate(50%, -50%);
}

.icon-box-right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}

.box {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 25px 100px;
  background-color: #087f5b;

  border: 5px solid;
  border-image: linear-gradient(
      45deg,
      rgb(128, 0, 128, 0.7),
      rgb(255, 215, 0, 0.7)
    )
    1;

  /* border: 4px solid;
  border-image: linear-gradient(purple, gold) 1; */
}

.text-box-big {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
}

.text-box-small-1 {
  color: #c3fae8;
  font-size: 14px;
  margin-bottom: 4px;
}
.text-box-small {
  color: #c3fae8;
  font-size: 12px;
}

.btn {
  position: absolute;
  display: flex;
  gap: 10px;
  left: 45%;
  bottom: -14%;
}

.btn-dot {
  width: 13px;
  height: 13px;
  border: none;
  cursor: pointer;
  border: 2px solid #087f5b;
  background-color: #fff;
  border-radius: 50%;
}

.btn-dot-1 {
  background-color: #087f5b;
}

/* .btn-dot:not(:first-child) {
  background-color: #087f5b;
} */
